/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*{
    font-family:'Protest Riot', sans-serif;
}
#root {
    background: rgb(0, 185, 186);
    background: linear-gradient(187deg, #271340 35%, #1a2552 100%);
    min-height: 100vh;
}